{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRU-Limited</title>
    <link rel = "stylesheet" href = {% static 'css/main.css'%}>
     <!-- Raleway font -->
    <!-- Montserrat font -->
</head>
<body>
    <nav class="navbarmain"> 
        <a class="nav-link" href="{% url 'index' %} "><h1 class="navbar-brand" style = "font-size: 25px">DRU</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav-bar">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'furniture' %}">Furniture</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'fashion' %}">Fashion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'phones' %}">Phones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">More</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LOGOUT</a>
              </li>
          </ul>
     </nav>
    {% block content%}
    {% endblock%}

<script src="{% static 'js/main.js' %}"></script>
<script>
  document.getElementById('backToTop').addEventListener('click', function(){
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  });
</script>

</body>
</html>