{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>
 <div class = "body container-fluid container login">
     <div class="container container-fluid top">
        <h1 class = "text-white text-center" style = "color: #800020 ">LOGIN.</h1><br><br>  
       </div>     
  
    <div class="container container-fluid">
        <form id = "form" method="POST" action="{% url 'login' %}"> 
            {% csrf_token %}  
            <label for="username"></label>
            <input type="text" name="username" placeholder="Username">
            <label for="password"></label>
            <input type="password" name="password" placeholder="password">
            <br> <br> 
            <button type="submit">Signin</button>
            <br>                
      </form>      
    </div>
</div>  
{% endblock %}